<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login page</title>
</head>
<body>
    <center><h1>login</h1></center>
    <%= msg %>
    <form action="/adminlogin" method="post">
        <input type="email" name="email" id="" placeholder="Enter email"><br><br>
        <input type="text" name="password" id="" placeholder="Enter Password"><br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>